/* Kameo Roster */
.kameo-roster {
	margin: 0 auto;
	width: 75%;
}

.kameo-roster-row {
	display: flex;
}

.kameo-roster-row:first-child {
	margin-bottom: 8px;
}

.kameo-roster-portrait:not(:last-child) {
	margin-right: 8px;
}

.kameo-roster-portrait {
	aspect-ratio: 13/15;
	background repeat: no-repeat;
	background-size: cover;
	background-color: rgb(16, 16, 16);
	position: relative;
	width: calc(100% / 8);
}

.kameo-roster-portrait:hover {
	filter: brightness(125%);
}

.kameo-roster-portrait a {
	display: block;
	height: 100%;
	width: 100%;
}

/* Mobile */
@media screen and (max-width: 576px) {
	.kameo-roster {
		width: unset;
	}

	.kameo-roster-row {
		flex-wrap: wrap;
		justify-content: center;
	}

	.kameo-roster-row:first-child {
		margin-bottom: unset;
	}

	.kameo-roster-portrait {
		margin-bottom: 8px;
		margin-right: 8px;
		width: 16%;
	}

	.kameo-roster-portrait:not(:last-child) {
		margin-right: 8px;
	}
}